[submodule "submodules/accelerated-model-architectures"]
	path = submodules/accelerated-model-architectures
	url = https://github.com/chuk-uzowihe/accelerated-model-architectures.git
	branch = m2rnn-dtype-stable-scan
